@use "./utilities/index" as *;

:root {
	--light-cyan: hsl(193, 38%, 86%);
	--neon-green: #52ffa8;
	--grayish-blue: hsl(217, 19%, 38%);
	--dark-grayish-blue: hsl(217, 19%, 24%);
	--dark-blue: hsl(218, 23%, 16%);
}

body,
#root,
.main {
	display: flex;
}

body {
	justify-content: center;
	background-color: var(--dark-blue);
	font-family: "Manrope", sans-serif;
	font-size: 16px;
}

#root {
	justify-content: center;
	align-items: center;
}

.main {
	display: grid;
	grid-template-rows: 1fr auto auto;
	place-items: center;
}

.main-box {
	grid-column: 1;
	grid-row: 1/3;
	padding: 6.88vw 5.63vw;
	width: 90%;
	background-color: var(--dark-grayish-blue);
	border-radius: 3.13vw;
	text-align: center;
}

.main-advice-number {
	margin-bottom: 6.88vw;
	color: var(--neon-green);
	font-size: clamp(0.8rem, calc(0.8rem + ((11 - 8) * ((100vw - 320px) / (575 - 320)))), 1.1rem);
	text-transform: uppercase;
	letter-spacing: 0.8vw;
}

.main-advice-text {
	margin-bottom: 5.94vw;
	font-size: clamp(2rem, calc(2rem + ((35 - 20) * ((100vw - 320px) / (575 - 320)))), 3.5rem);
	font-weight: 800;
	color: var(--light-cyan);
}

.main-line-img {
	display: block;
	margin-bottom: 8vw;
	width: 100%;
}

.dice-box {
	grid-column: 1;
	grid-row: 2/4;
	width: fit-content;
	padding: clamp(0.94em, calc(0.94em + ((20.8 - 15.04) * ((100vw - 320px) / (575 - 320)))), 1.3em);
	background-color: var(--neon-green);
	border-radius: 50%;
}

.dice-icon {
	display: block;
	width: 6.25vw;
}

@media (min-width: 576px) {
	.main-box {
		width: 32.375em;
		padding: 2.5em 2em;
		border-radius: 1.125em;
	}

	.main-advice-number {
		margin-bottom: 2.5em;
		font-size: 0.688em;
		letter-spacing: 0.288em;
	}

	.main-advice-text {
		margin-bottom: 1.1em;
		font-size: 2.188em;
	}

	.main-line-img {
		margin-bottom: 2.875em;
	}

	.dice-box {
		padding: 1.313em;
	}

	.dice-icon {
		width: 2.25em;
	}
}

@media (min-width: 992px) {
	.main-box {
		width: 40em;
	}
	.dice-box {
		position: relative;
		cursor: pointer;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			border-radius: 50%;
			-webkit-box-shadow: 0px 0px 24px 0px rgba(82, 255, 168, 1);
			-moz-box-shadow: 0px 0px 24px 0px rgba(82, 255, 168, 1);
			box-shadow: 0px 0px 24px 0px rgba(82, 255, 168, 1);
			opacity: 0;
			transition: opacity 0.3s;
		}

		&:hover {
			&::before {
				opacity: 1;
			}
		}
	}
}

// - Mobile: 375px
// - Desktop: 1440px

// - Family: [Manrope](https://fonts.google.com/specimen/Manrope)
// - Weights: 800
